rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // IZINKAN SEMUA AKSES UNTUK PROTOTYPING
    // Memastikan integrasi scanner, portal verifikasi, dan manajemen admin berjalan tanpa kendala izin.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}